*.suo
*.user
*.sln.docstates
.vs
.vscode

[Dd]ebug/
[Rr]elease/
x64/
build/
[Bb]in/
[Oo]bj/

*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.log
*.scc

[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

_ReSharper*/
*.[Rr]e[Ss]harper
.idea/

Thumbs.db
Desktop.ini
.DS_Store
